<div class="smoke">
  <div class="smoke__box">
			<ul class="smoke__words">
			  <li class="smoke__item smoke__come">junior<br>frontend-developer</li>
			  <li class="smoke__item">javascript-developer</li>
				<li class="smoke__item">html, css, javascript</li>
			</ul>
		</div>
</div>


