.header {
  width: 100%;
  height: 10rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;

  &__logo {
    height: 10rem;
    width: 10rem;
    /* filter: grayscale(50%); */
    margin: 0;

    &-image {
      width: 120%;

      @media (max-width: 400px) {
        width: 100%;
      }
    }
  }

  &__menu-wrapper {
    display: flex;
  }

  &__menu {
    font-size: 1.8rem;
    
    @media (max-width: 800px) {
      display: none;
    }
  
    &__item{
      color: rgb(214, 205, 105);
      font-weight: bold;
    }
  
    &__item:nth-child(2){
      margin: 0 2rem;
    }
  
    &__item:hover {
      color: white;
    }

    &__item:active {
      color: red;
    }
  }
}

.lang-switch {
  margin-left: 3rem;

  @media (max-width: 800px) {
    margin-right: 5rem;
  }

  &__item {
    cursor: pointer;
    border: none;
    background: none;
    color: #0094ff;
    font-size: 1.8rem;
    font-weight: bold;
    padding: 0;
  }

  &__item:hover {
    color:white;
  }

  &__item:active {
    color: #004d85;
    outline: none;
  }

  &__item:focus {
    outline: none;
  }

  &__item:nth-child(2):hover {
    color: #0094ff;
  }
}