<div class="header">
  <figure class="logo">
    <img alt="CrazySouslik logo" class="logo__images" src="images/logo.png">
  </figure>
  <div class="header__menu-wrapper">
    <nav class="header__menu header__menu-invisible">
      <a href="#" class="header__menu__item">Works</a>
      <a href="#" class="header__menu__item">Skills</a>
      <a href="#" class="header__menu__item">Git Repositiry</a>    
    </nav>
    <div class="lang-switch">
      <button class="lang-switch__item lang-switch__item--en">En</button>
      <span class="lang-switch__item">/</span>
      <button class="lang-switch__item lang-switchitem--ru">Ru</button>
    </div>
  </div>  
</div>