<div class="header" id="header">
  <figure class="header__logo">
    <img alt="CrazySouslik" class="header__logo-image" src="images/logo.png">
  </figure>
  <div class="header__menu-wrapper">    
    <nav class="header__menu">
      <a href="#works" class="header__menu__item">Мои работы</a>
      <a href="#skills" class="header__menu__item">Мои навыки</a>
      <a href="#git" class="header__menu__item">Git Repositiry</a>    
    </nav>
    <div class="lang-switch">
      <a class="lang-switch__item lang-switch__item--en" href="index-en.html">En</a>
      <span class="lang-switch__item">/</span>
      <a class="lang-switch__item lang-switchitem--ru">Ru</a>
    </div>
  </div>  
</div>      