<section class="section section-cooperation">
  <div class="section__wrapp">
    <h2 class="section__title">Let`s cooperate</h2>
  <p class="section__text">
    So are you looking for a professional, communicative & punctual software engineer for your next project?
  </p>
  <p class="section__text">
    If you have an application you are interested in developing with web technology, I’d love to work with you on it. I work primarily with JavaScript but picking up new languages or frameworks isn’t a problem.
  </p>
  <p class="section__text">
    
  </p>
  </div>  
</section>