<section class="section section-cooperation" id="cooperation">
  <div class="section__wrapp">
    <h2 class="section__title">Сотрудничество</h2>
  <p class="section__text">
    Итак, вы ищете профессионального, коммуникабельного и пунктуального программиста 
        с обширными навыками веб-разработки для вашего следующего проекта?
  </p>
  <p class="section__text">
    Если у вас есть приложение, которое вы заинтересованы создать с использованием веб-технологий, 
        я бы с удовольствием поработал с вами над ним.
  </p>
  <p class="section__text">
    К работе подхожу ответственно, задания выполняю в срок и считаю, 
        что одно из самых важных качеств в профессии - сделать не просто "чтобы как-то работало", 
        а стремиться получить качественный результат, на исправление багов которого в будущем заказчику 
        не придётся тратить нервы, деньги и время.
  </p>
  </div>  
</section>