<section class="section section--heigth" id="git">
  <div class="skills">
    <div class="skills__title">
      <div class="skills__title-wrap">
        <h2 class="section__title">Git repository</h2>
        <p class="section__text section__text--justify">Here’s my repository from GitHub with my projects.
        </p>
      </div>
    </div>
    <ol class="skills__list">
      <li class="list__item">
        <h3 class="list__item-title">git 1</h3>
        <p class="list__item-text">some about git</p>
      </li>
      <li class="list__item">
        <h3 class="list__item-title">git 1</h3>
        <p class="list__item-text">some about git</p>
      </li>
      <li class="list__item">
        <h3 class="list__item-title">git 1</h3>
        <p class="list__item-text">some about git</p>
      </li>
      <li class="list__item">
        <h3 class="list__item-title">git 1</h3>
        <p class="list__item-text">some about git</p>
      </li>
      <li class="list__item">
        <h3 class="list__item-title">git 1</h3>
        <p class="list__item-text">some about git</p>
      </li>  
      <li class="list__item">
        <h3 class="list__item-title">git 1</h3>
        <p class="list__item-text">some about git</p>
      </li>      
    </ol>
  </div>
  {{> section-arrow }}
</section>