<section class="section section--welcom">
  <figure class="section__image">
     <img src="images/foto.png" alt="CrazySouslik - Vladimir" class="section__foto">
  </figure> 

  <div class="my-name">
    <gluck class="gluck">
      <h1 class="glitched">Vladimir</h1>
      <h1 class="glitched">Sysoev</h1>
    </gluck>
    {{> words }}
  </div>
  
  
  {{> section-arrow }}
</section>