.section {
  align-items: center;
  position: relative;
  display: flex;
  margin: 2rem auto;
  min-height: 100vh;

  &__title {
    font-size: 3rem;
  }

  &__text {
    color: #d6cd69;
    font-size: 2rem;
    font-weight: bold;
    text-align: justify;
  }
}
