<section class="sections" id="sections--height">
  <div class="skills">
    <div class="skills__title">
      <div class="skills__title-wrap">
        <h2 class="section__title">Skills</h2>
        <p class="section__text">I understand the challenges of working remotely.<br>
          Here’s a couple of things I’m good at
        </p>
      </div>
    </div>
    <ol class="skills__list">
      <li class="list__item">
        <h3 class="list__item-title">HTML</h3>
        <p class="list__item-text">HTML 5, Семантическая верстка</p>
      </li>
      <li class="list__item">
        <h3 class="list__item-title">CSS</h3>
        <p class="list__item-text">Адаптивная, кроcсбраузерная верстка<span>с использованием Flexbox/Grid</span></p>
      </li>
      <li class="list__item">
        <h3 class="list__item-title">JavaScript</h3>
        <p class="list__item-text">Нативный JS, ES5/ES6</p>
      </li>
      <li class="list__item">
        <h3 class="list__item-title">Git</h3>
        <p class="list__item-text">Работа с одной из лучших системой контроля версий.</p>
      </li>
      <li class="list__item">
        <h3 class="list__item-title">Gulp</h3>
        <p class="list__item-text">При сборке проектов изспользую надежный сборщик, который позволяет
          получить валидный, транспилированный JS-код, произвести обработку CSS-файлов, оптимизацию изображений и многое другое.</p>
      </li>  
      <li class="list__item">
        <h3 class="list__item-title">PostCSS</h3>
        <p class="list__item-text">Надежный помошник в моей работе, который многократно ускоряет процесс кодинга.</p>
      </li>      
    </ol>
  </div>
  {{> section-arrow }}
</section>