<section class="sections sections--welcom">
  <figure class="sections__image">
     <img src="images/foto.png" alt="CrazySouslik - Vladimir" class="sections__foto">
  </figure> 
  <div class="my-name-wrapper">
    {{> my-name }}
    <span class="my-name__text">junior frontend-developer</span>
  </div>
  {{> section-arrow }}
</section>