<section class="section section--heigth section__justify" id="works">
    <h2 class="section__title section__title--works">Recent works</h2>
  <div class="section__works">
    <div class="works__container">
      <div class="works__example">
        <img src="images/m-l1.png" alt="" class="works__monitor">        
        <a class="works__link" href="">
          <img src="images/mcbuy.jpg" alt="MC BUY" class="works__site">          
        </a>
        <p class="works__text">MC-BUY</p>
      </div>
      <div class="works__example works__example--left">
        <img src="images/m-r1.png" alt="" class="works__monitor">
        <a class="works__link works__link--right" href="https://chuvo.github.io/MC-BUY/">
          <img src="images/mouse.jpg" alt="Catche the mouse" class="works__site">
        </a>
        <p class="works__text works__text--left">Browser games on js</p>
      </div>
    </div>
    <div class="works__container">
      <div class="works__example">
      <img src="images/m-l2.png" alt="" class="works__monitor">
      <a class="works__link works__link--even" href="https://greenfood.pro">
        <img src="images/gf.jpg" alt="GreenFood.pro - магазин вегетарианских товаров" class="works__site works__site--even">
      </a>
      <p class="works__text">GreenFood.pro</p>
    </div>
    <div class="works__example works__example--left">
      <img src="images/m-r2.png" alt="" class="works__monitor">
      <a class="works__link works__link--right works__link--even" href="https://chuvo.github.io/Tesla/">
        <img src="images/tesla.jpg" alt="Tesla" class="works__site">
      </a>
      <p class="works__text works__text--left">Tesla</p>
    </div>
    </div>
  </div>
  {{> section-arrow }}
</section>
