<section class="sections sections--welcom">
  <img src="images/foto.png" alt="CrazySouslik - Vladimir" class="sections__foto">
  <div class="my-name-wrapper">
    {{> my-name}}
    <span class="my-name__text">junior frontend-developer</span>
  </div>
  <div class="section__arrow"></div>
</section>