<section class="sections" id="sections--works">
  <div class="sections__wrap">
    <h2 class="section__title">Recent works</h2>
    <a href="#" class="sections__link">View all</a>
  </div>
  <div class="section__works">
    <div class="works__container">
      <div class="works__example">
        <img src="images/m-l1.png" alt="" class="works__monitor">        
        <a class="works__link" href="">
          <img src="images/mcbuy.jpg" alt="MC BUY" class="works__site">          
        </a>
        <p class="works__text">Aaptive lending</p>
      </div>
      <div class="works__example works__example--left">
        <img src="images/m-r1.png" alt="" class="works__monitor">
        <a class="works__link works__link--right" href="https://chuvo.github.io/MC-BUY/">
          <img src="images/mouse.jpg" alt="Catche the mouse" class="works__site">
        </a>
      </div>
    </div>
    <div class="works__container">
      <div class="works__example">
      <img src="images/m-l2.png" alt="" class="works__monitor">
      <a class="works__link works__link--even" href="https://chuvo.github.io/MC-BUY/">
        <img src="images/mcbuy.jpg" alt="MC BUY" class="works__site works__site--even">
      </a>
    </div>
    <div class="works__example works__example--left">
      <img src="images/m-r2.png" alt="" class="works__monitor">
      <a class="works__link works__link--right works__link--even" href="https://chuvo.github.io/Tesla/">
        <img src="images/tesla.jpg" alt="Tesla" class="works__site">
      </a>
    </div>
    </div>


    
    
  </div>  
</section>
