<section class="sections sections--about-me">
  <div class="about-me__wrapper">
    <h2 class="section__title">
    hello, my name is Vladimir Sysoev
  </h2>
  <p class="section__text">I'm a junior frontend-developer from Moscow, Russia.
    I can help you build your next product.
  </p>
  <p class="section__text">
    I design, build, operate & sometimes rescue full-stack web applications.
    Have a project you'd like to discuss?
  </p>
  <div class="about-me__icon-wrapper">    
    <a href="#" class="sections__link">
      <img class="sections__icon sections__icon--email" src="images/letter.png">
    </a>
    <a href="#" class="sections__link">
      <img class="sections__icon sections__icon--mobile" src="images/mobile.png">
    </a>
    <a href="#" class="sections__link">
      <img class="sections__icon sections__icon--in" src="images/in.png">
    </a>
  </div>  
  </div>  
  {{> section-arrow }}
</section>


