<section class="section section--heigth" id="git">
  <div class="git">
    <div class="git__title">
      <div class="git__title-wrap">
        <h2 class="section__title">Git repository</h2>
        <p class="section__text section__text--width">Here’s my repository from GitHub with my projects.
        </p>
      </div>
    </div>
    <ol class="git__list"></ol>
  </div>

  {{> section-arrow }}
</section>