.footer {
  border-top: 2px solid yellow;
  display: flex;
  padding: 7rem 0;
  justify-content: space-between;
  width: 100%;

  @media (max-width: 600px) {
    flex-direction: column;
  }

  &__wrapper {
    width:50%;

    @media (max-width: 600px) {
      width: 100%;
    }
  }

  &__title {
    color: yellow;
    font-size: 2rem;
    margin: 1.5rem 0;

    @media (max-width: 800px) {
      font-size: 3rem;

    }
  }

  &__title--right {
    text-align: right;
  }

  &__text {
    color: #d6cd69;
    font-size: 1.8rem;
    line-height: 3rem;

    &:hover {
      color: white;
    }

    &:active {
      color: blue;
    }
  }


  &__menu-wrapper {
    width: 25%;
    
    @media (max-width: 800px) {
      display: none;
    }
  }

  &__menu {
    display: flex;
    flex-direction: column;
  }

  &__menu-item {
    font-size: 1.8rem;
    color: #d6cd69;
    text-decoration: none;
    line-height: 3rem;

    &:hover {
      color: blue;
      text-decoration: underline;
    }
  }

  &__contact {
    @media (max-width: 800px) {
      width: 50%;    
    }

    @media (max-width: 600px) {
      width: 100%;    
    }
  }

  &__contact-wrap {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
  }

  &__social {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}

.social__item {
  background-size: cover;
  display: inline-block;
  size: 3rem;
  margin: 1rem;

  @media (max-width: 800px) {
    size: 5rem;
  }

  &:hover {
    filter: sepia(.5);
  }

  &:active {
    transform: translate(80%, -150%) rotate(360deg);
    opacity: 0;
    filter: blur(10px) brightness(600%) sepia(.5);
    transition: .5s;
  }
}

.social__item:nth-child(1) {
  background: url("../images/git.png") no-repeat bottom;
  background-size: contain;
}

.social__item:nth-child(2) {
  background: url("../images/in.png") no-repeat;
  background-size: contain;  
}

.social__item:nth-child(3) {
  background: url("../images/vk.png") no-repeat bottom;
  background-size: contain;
}
.social__item:nth-child(4) {
  background: url("../images/telegram.png") no-repeat bottom;
  background-size: contain;
}



