<footer class="footer">
  <div class="footer__wrapper">
    <h4 class="footer__title">
      <span>Vladimir</span>
      <span>Sysoev</span>
    </h4>
    <div class="footer__about">
      <span class="footer__text">начинающий frontend-разработчик</span>
    </div>
  </div>
  <div class="footer__menu-wrapper">
    <h4 class="footer__title">
      Menu
    </h4>
    <nav class="footer__menu">
      <a href="#header" class="footer__menu-item">About</a>
      <a href="#works" class="footer__menu-item">Works</a>
      <a href="#skills" class="footer__menu-item">Skills</a>
      <a href="#git" class="footer__menu-item">Git Repositiry</a>    
    </nav>
  </div>
  <div class="footer__contact">
    <h4 class="footer__title">Contact</h4>
    <div class="footer__contact-wrap">
      <span class="footer__text">cahek764@ya.ru</span>
      <span class="footer__text">+7 (953) 518-90-08</span>
      <div class="footer__social">
        <a href="" class="social__item"></a>
        <a href="" class="social__item"></a>
        <a href="" class="social__item"></a>
      </div>    
    </div>
  </div>                                         
</footer>