.section--heigth {
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  height: auto;
}

.section__works {
  padding-top: 5rem;
  width: 120%;
  overflow: hidden;
}

.section__justify {
  justify-content: center;
}

.section__title--works {
  position: absolute;
  top:0;
}

.works__container {
  position: relative;
  overflow: visible;
  transform: translateY(-16%);

  &:nth-child(1) {
    transform: translateY(0);
  }
}

.works__example {
  position: relative;
  width: 50%;
  width: 50%;
  float: left;

  @media (max-width: 800px) {
    width: 100%;
  }

  &:nth-child(3) {
    transform: translateY(-23%);
  }
}

.works__monitor {
  width: 100%;
}

.works__link {
  width: 50%;
  height: 50%;
  position: absolute;
  top: 27%;
  right: 5%;

  &--even {
    top: 20%;
  }

  &:hover {
    filter: grayscale(98%) brightness(50%) sepia(1);
  }
}

.works__link--right {
  left: 5%;
}

.works__site {
  width: 100%;
  transform: perspective(300px) skew(1deg) skewY(-2deg) rotate(2deg) rotateX(3deg);
  box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.65);
}

.works__text {
  width: 50%;
  color:white;
  text-shadow:1px -1px 10px #2f00ff,1px -1px 0px #fbfd00;
  position: absolute;
  white-space:nowrap;
  top: 25%;
  left: 50%;
  display: none;
  z-index: 99;

  &--left {
    left: 10%;
  }
}

.text-typing {
  display: inline;
  font-size: 2.2rem;
  font-weight: bold; 
  overflow: visible;
  animation: type 5s steps(50, end);
}

@keyframes type{
    from { width: 0; }
}

@-webkit-keyframes type{
    from { width: 0; }
}

.anim-come-left {
  animation: come-left 2s;
}
.anim-come-right {
  animation: come-right 2s;
}

@keyframes come-left {
  from {
    transform: translate(-100%, 10%) scale(.8);
  }
  90% {
    transform: translate(-3%, 2%) scale(.9);
  }
  96% {
    transform: translate(0) scale(1);
  }
  97% {
    transform: translate(-0.5%, .1%);
  }
  98% {
    transform: translate(0);
  }
  99% {
    transform: translate(-0.2%,0);
  }
  to {
    transform: translate(0) scale(1);
  }
}

@keyframes come-right {
  from {
    transform: translate(100%, 10%) scale(.8);
  }
  90% {
    transform: translate(3%, 2%) scale(.9);
  }
  96% {
    transform: translate(0) scale(1);
  }
  97% {
    transform: translate(0.5%, .1%);
  }
  98% {
    transform: translate(0);
  }
  99% {
    transform: translate(0.2%,0);
  }
  to {
    transform: translate(0) scale(1);
  }
}
