html {
  font-size: 10px;

  @media (max-width: 800px) {
    font-size: 8px;
  }
}

body {
  background: black;
  color: rgb(255, 255, 0);
  font-family: AvenirNextCyr, sans-serif;
  font-weight: normal;
  width: 100%;
  height: 100%;
  
}

.main {
  padding: 0 10%;
  position: relative;
  min-height: 100vh;
  max-width: 1440px;
}
