<section class="section section--heigth section__justify" id="works">
    <h2 class="section__title section__title--works">Мои последние работы</h2>
  <div class="section__works">
    <div class="works__container">
      <div class="works__example works__example--left">
        <img src="images/m-l1.png" alt="" class="works__monitor">        
        <a class="works__link" href="https://chuvo.github.io/MC-BUY/" target="blanck">
          <img src="images/mcbuy.jpg" alt="MC BUY" class="works__site works__site--percpective-1">          
        </a>
        <p class="works__text">Project MC-BUY</p>
      </div>
      <div class="works__example works__example--right">
        <img src="images/m-r1.png" alt="" class="works__monitor">
        <a class="works__link works__link--right" href="https://mygame-xktjushppi.now.sh/" target="self">
          <img src="images/mouse.jpg" alt="Catche the mouse - браузерная игра на javascript" class="works__site works__site--percpective-2">
        </a>
        <p class="works__text works__text--left">Browser games on js</p>
      </div>
    </div>
    <div class="works__container">
      <div class="works__example works__example--left">
      <img src="images/m-l2.png" alt="" class="works__monitor">
      <a class="works__link works__link--even" href="https://greenfood.pro" target="blanck">
        <img src="images/gf.jpg" alt="GreenFood.pro - магазин вегетарианских товаров" class="works__site works__site--percpective-3 works__site--even">
      </a>
      <p class="works__text"><span>Интернет-магазин </span><span>GreenFood.pro</span></p>
    </div>
    <div class="works__example works__example--right">
      <img src="images/m-r2.png" alt="" class="works__monitor">
      <a class="works__link works__link--right  works__link--even" href="https://chuvo.github.io/Tesla/" target="blanck">
        <img src="images/tesla.jpg" alt="Tesla" class="works__site works__site--percpective-4">
      </a>
      <p class="works__text works__text--left">Project Tesla</p>
    </div>
    </div>
  </div>
</section>
