.section--heigth {
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  height: auto;
}

.section__works {
  padding-top: 6rem;
  width: 120%;
  overflow: hidden;
  padding-bottom: 10%;
}

.section__justify {
  justify-content: center;
}

.section__title--works {
  position: absolute;
  text-align: center;
  top: 1rem;
}

.works__container {
  position: relative;
  overflow: visible;
  transform: translateY(-16%);

  &:nth-child(1) {
    transform: translateY(0);
  }
}

.works__example {
  position: relative;
  width: 50%;
  width: 50%;
  float: left;

  &--left {
    transform: translate(-100%, 10%) scale(.8);
  }

  &--right {
    transform: translate(100%, 10%) scale(.8);
  }

  @media (max-width: 800px) {
    width: 100%;
  }

  &:nth-child(3) {
    transform: translateY(-23%);
  }
}

.works__monitor {
  width: 100%;
}

.works__link {
  width: 50%;
  height: 50%;
  position: absolute;
  top: 27%;
  right: 5%;

  &--even {
    top: 20%;
  }

  &:hover {
    filter: grayscale(98%) brightness(50%) sepia(1);
  }
}

.works__link--right {
  left: 5%;
}

.works__site {
  width: 100%;
  box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.65);

  &--percpective-1 {
    transform: perspective(500px) skew(0deg) skewY(-2deg) skewX(0deg) rotate(2deg) rotateX(3deg) rotateY(-2deg);
  }

  &--percpective-2 {
    transform: perspective(500px) skewX(1deg) rotateX(3deg) rotateY(2deg);
  }

  &--percpective-3 {
    transform: perspective(500px) skew(13deg) skewY(-21deg) skewX(10deg) rotate(22deg) rotateX(-4deg) rotateY(-3deg);
  }
  
  &--percpective-4 {
    transform: perspective(500px) skew(13deg) skewY(-28deg) skewX(18deg) rotate(32deg) rotateX(-3deg) rotateY(3deg);
  }
}

.works__text {
  width: 50%;
  color:white;
  text-shadow:1px -1px 10px #2f00ff,1px -1px 0px #fbfd00;
  position: absolute;
  white-space:nowrap;
  top: 25%;
  left: 50%;
  display: none;
  z-index: 99;

  &--left {
    left: 10%;
  }
}

.text-typing {
  display: inline;
  font-size: 2.2rem;
  font-weight: bold; 
  overflow: hidden;
  animation: type 2s steps(20, end);
}
@keyframes type {
    from { width: 0; }
}

.anim-come-left {
  animation: come-left 2s forwards;
}
.anim-come-right {
  animation: come-right 2s forwards;
}

@keyframes come-left {
  from {
    transform: translate(-100%, 10%) scale(.8);
  }
  90% {
    transform: translate(-3%, 2%) scale(.9);
  }
  96% {
    transform: translate(0) scale(1);
  }
  97% {
    transform: translate(-0.5%, .1%);
  }
  98% {
    transform: translate(0);
  }
  99% {
    transform: translate(-0.2%,0);
  }
  to {
    transform: translate(0%) scale(1);
  }
}

@keyframes come-right {
  from {
    transform: translate(100%, 10%) scale(.8);
  }
  90% {
    transform: translate(3%, 2%) scale(.9);
  }
  96% {
    transform: translate(0) scale(1);
  }
  97% {
    transform: translate(0.5%, .1%);
  }
  98% {
    transform: translate(0);
  }
  99% {
    transform: translate(0.2%,0);
  }
  to {
    transform: translate(0) scale(1);
  }
}
