.section__skills {
  justify-content: center;
}

.skills {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 5rem 0;

  @media (max-width: 800px) {
    flex-direction: column;
  }

  &__title {
    align-self: flex-start;
    position: sticky;
    top: 0;
    width: 50%;
    z-index: 9;

    @media (max-width: 800px) {
      background: rgba(0,0,0,.8);
      width: 100%;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    justify-content: center;;
    height: 100%;
    width: 50%;

    @media (max-width: 800px) {
      width: 100%;
    }
  }

  @media (max-width: 800px) {
    width: 100%;
  }
}

.section__text--width {
  width: 80%;

  @media (max-width: 800px) {
    width: 100%;
  }
}

.list{
  list-style-type: decimal-leading-zero;
  margin-bottom: 10%;
  position: relative;
 

  &__item {
    font-size: 1.8rem;
    font-weight: 900;
    color:  rgb(214, 205, 105);
    position: relative;
    text-align: justify;
    margin-bottom: 2rem;
  }

  &__item:hover {
    transform: scale(1.01);
    transition: .5s;
  }

  &__item::after {
    content: "";
    display: block;
    height: 3rem;
    position: absolute;
    top: 0;
    left: -9rem;
    width: 3rem;

    @media (max-width: 800px) {
      right: 3rem;
      left: auto;
    }
  }

  &__item:nth-child(1)::after {
    background: url("../images/html.png") no-repeat;
    background-size: contain;
  }

  &__item:nth-child(2)::after {
    background: url("../images/css.png") no-repeat;
    background-size: contain;
  }

  &__item:nth-child(3)::after {
    background: url("../images/js.png") no-repeat;
    background-size: contain;
  }

  &__item:nth-child(4)::after {
    background: url("../images/git.png") no-repeat;
    background-size: contain;
  }

  &__item:nth-child(5)::after {
    background: url("../images/gulp.png") no-repeat;
    background-size: contain;
  }

  &__item:nth-child(6)::after {
    background: url("../images/postcss.png") no-repeat;
    background-size: contain;
  }

  &__item:nth-child(7)::after {
    background: url("../images/sass.png") no-repeat;
    background-size: contain;
  }

  &__item-title {
    color:yellow;
    margin: 0;
  }

  &__item-text {
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 2rem;
    transform: translateX(-3.5rem);
  }

  @media (max-width: 800px) {
    transform: translateX(1rem);
  }
}