<section class="section">
  <div class="skills" id="skills">
    <div class="skills__title">
      <div class="skills__title-wrap">
        <h2 class="section__title">Мои навыки</h2>
        <p class="section__text section__text--width">Я постоянно стремлюсь к получению новых знаний, изучению современных технологий и методик работы.
               И поэтому мой скромный арсенал постоянно пополняется полезными инструментами.
        </p>
      </div>
    </div>
    <ol class="skills__list list">
      <li class="list__item">
        <h3 class="list__item-title">HTML 5</h3>
        <p class="list__item-text">Применяю адаптивную, кроссбраузерную верстку, с использование БЭМ-методологии и семантики.
        </p>
      </li>
      <li class="list__item">
        <h3 class="list__item-title">CSS 3</h3>
        <p class="list__item-text">Именно от CSS зависит внешний вид страницы, поэтому CSS я уделяю огромное внимание, стараясь устранить 
              префиксы и перенаследование. При верстке пользуюсь Flexbox, Grid.
        </span></p>
      </li>
      <li class="list__item">
        <h3 class="list__item-title">JavaScript ES5/ES6</h3>
        <p class="list__item-text">To maintain the dynamics of the pages I use javascript, I try to write clear, supported code, without unnecessary duplication.</p>
      </li>
      <li class="list__item">
        <h3 class="list__item-title">Git</h3>
        <p class="list__item-text">Командная работа - очень важный элемент разработки, и контроль версий необходимый инструмент в работе над проектом. 
          Поэтому для себя я избрал Git, как один из самых удобных инструментов контроля и организации работы.</p>
      </li>
      <li class="list__item">
        <h3 class="list__item-title">Gulp</h3>
        <p class="list__item-text">При сборке проектов изспользую надежный сборщик, который позволяет
              получить валидный, транспилированный JS-код, произвести обработку CSS-файлов, оптимизацию 
              изображений и многое другое.</p>
      </li>  
      <li class="list__item">
        <h3 class="list__item-title">PostCSS</h3>
        <p class="list__item-text">Надежный помошник в моей работе, который многократно ускоряет процесс кодинга.</p>
      </li>
      <li class="list__item">
        <h3 class="list__item-title">SASS/SCSS</h3>
        <p class="list__item-text">SASS/SCSS - удобный, понятный и широко используемый инструмент.</p>
      </li>      
    </ol>
  </div>
</section>