.skills {
  display: flex;
  align-items: center;
  width: 100%;
  

  @media (max-width: 800px) {
    flex-direction: column;
  }

  &__title {
    align-self: flex-start;
    position: sticky;
    top: 0;
    width: 50%;
    z-index: 9;

    @media (max-width: 800px) {
      background: rgba(0,0,0,.8);
      width: 100%;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    justify-content: center;;
    height: 100%;
    width: 50%;

    @media (max-width: 800px) {
      width: 100%;
    }
  }

  @media (max-width: 800px) {
    width: 100%;
  }
}

.section__text--width {
  width: 80%;

  @media (max-width: 800px) {
    width: 100%;
  }
}

.list{
  list-style-type: decimal-leading-zero;
  position: relative;

  @media (max-width: 800px) {
    transform: translateX(-2rem);
  }
 

  &__item {
    font-size: 1.8rem;
    font-weight: 900;
    color:  rgb(214, 205, 105);
    position: relative;
    text-align: justify;
    transition: .1s;
    margin-bottom: 2rem;

    &:nth-last-child(1) {
      margin-bottom: 0;
    }
  }

  &__item:hover {
    transform: translateX(-.5%);
  }

  #html:after,
  #css:after,
  #js:after,
  #git:after,
  #gulp:after,
  #postcss:after,
  #sass:after,
  #node:after,
  #react:after {
    content: "";
    display: block;
    height: 3rem;
    position: absolute;
    top: 0;
    left: -5rem;
    width: 3rem;

    @media (max-width: 800px) {
      right: 3rem;
      left: auto;
    }
  }

  #html:after {
    background: url("../images/html.png") no-repeat;
    background-size: contain;
  }

  #css:after {
    background: url("../images/css.png") no-repeat;
    background-size: contain;
  }

  #js:after {
    background: url("../images/js.png") no-repeat;
    background-size: contain;
  }

  #git:after {
    background: url("../images/git.png") no-repeat;
    background-size: contain;
  }

  #gulp:after {
    background: url("../images/gulp.png") no-repeat;
    background-size: contain;
  }

  #postcss:after {
    background: url("../images/postcss.png") no-repeat;
    background-size: contain;
  }

  #sass:after {
    background: url("../images/sass.png") no-repeat;
    background-size: contain;
  }

  #react:after {
    background: url("../images/react.png") no-repeat;
    background-size: contain;
  }

  #node:after {
    background: url("../images/node.png") no-repeat;
    background-size: contain;
  }

  &__item-title {
    color:yellow;
    margin: 0;
    transform: translateX(3.5rem);
  }

  &__item-text {
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 2rem;

    @media (max-width: 800px) {
      font-size: 1.8rem;
      font-weight: normal;
    }
  }
}