<section class="section section--heigth section__skills" id="skills">
  <div class="skills">
    <div class="skills__title">
      <div class="skills__title-wrap">
        <h2 class="section__title">Skills</h2>
        <p class="section__text section__text--width">I constantly strive to acquire new knowledge, learn modern technologies and methods of work.
And so my modest Arsenal is constantly updated with useful tools.         
        </p>
      </div>
    </div>
    <ol class="skills__list list">
      <li class="list__item">
        <h3 class="list__item-title">HTML 5</h3>
        <p class="list__item-text">I use an adaptive, cross-browser layout using BEM methodology and semantics.
        </p>
      </li>
      <li class="list__item">
        <h3 class="list__item-title">CSS 3</h3>
        <p class="list__item-text">It depends on the CSS appearance of the page, so I pay great attention to CSS, trying to eliminate 
          prefixes and inheritance. When layout use Flexbox, Grid.
        </span></p>
      </li>
      <li class="list__item">
        <h3 class="list__item-title">JavaScript ES5/ES6</h3>
        <p class="list__item-text">To maintain the dynamics of the pages I use javascript, I try to write clear, supported code, without unnecessary duplication.</p>
      </li>
      <li class="list__item">
        <h3 class="list__item-title">Git</h3>
        <p class="list__item-text">Team work is a very important part of development, and versioning is a necessary tool in working on a project. That's why I chose Git as one of the most convenient tools for monitoring and organizing my work.</p>
      </li>
      <li class="list__item">
        <h3 class="list__item-title">Gulp</h3>
        <p class="list__item-text">When building projects, I use a reliable collector that allows
          to obtain valid transperineally JS code to handle the CSS files, optimizing images and much more.</p>
      </li>  
      <li class="list__item">
        <h3 class="list__item-title">PostCSS</h3>
        <p class="list__item-text">A reliable assistant in my work, which greatly speeds up the coding process.</p>
      </li>
      <li class="list__item">
        <h3 class="list__item-title">SASS/SCSS</h3>
        <p class="list__item-text">SASS/SCSS - convenient, clear and widely used tool.</p>
      </li>      
    </ol>
  </div>
  {{> section-arrow }}
</section>