.souslik {
  height: 15rem;
  position: relative;
  width: 100%;
}

.souslik__walk {
  height: 18rem;
  width:12rem;
  overflow: hidden;
  position: absolute;
  z-index: 99;

  animation: walk  10s infinite ease-in-out;
}

.souslik__staps {
  height: 100%;
  animation: staps  1s steps(1) infinite;
}

@keyframes staps {
  from {
    transform: translateX(0);
  }
  10% {
    transform: translateX(-10%);
  }
  20% {
    transform: translateX(-21%);
  }
  30% {
    transform: translateX(-30%);
  }
  40% {
    transform: translateX(-40%);
  }
  50% {
    transform: translateX(-51%);
  }
  60% {
    transform: translateX(-61%);
  }
  70% {
    transform: translateX(-71%);
  }
  80% {
    transform: translateX(-82%);
  }
  to {
    transform: translateX(-92%);
  }
}

@keyframes walk {
  from {
    left: 0;
  }
  49% {
    transform: scaleX(1);
  }
  50% {
    left: 75%;
    transform: scaleX(-1);
  }
  99% {
    transform: scaleX(-1);
  }
  to {
    left: 0;
    transform: scaleX(1);
  }
}