.menu {
  align-items: center;
  border: 2px solid yellow;
  border-top: none;
  border-radius: 50%;
  justify-content: center;
  display: flex;
  margin: 0 auto;
  position: fixed;
  top: 2.5rem;
  right: 2.5rem;
  size: 5rem;
  z-index: 99;

  @media (max-width: 800px) {
    right: 5%;
  }

  &__icon {
    align-items: center;
    justify-content: center;
    
    
    display: flex;
    height: 100%;
    width: 100%;
    position: relative;
  }

  &__label {
    cursor: pointer;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 999;
  }
}

#menu__check {
  display: none;
}

.menu__icon-item {
  background-color:  yellow;
  height: .2rem;
  width:50%;
  z-index: 99;
}

.menu__icon-item::before,
.menu__icon-item::after {
  content: "";
  display: block;
  background-color: yellow;
  height: .2rem;
  width:50%;
  position: absolute;
}

.menu__icon-item::before {  
  top: 30%;
}

.menu__icon-item::after {
  bottom: 30%;
}

#menu__check:checked ~ .menu__icon-item {
  background: transparent;
}

#menu__check:checked ~ .menu__icon-item::before {
  transform: rotateZ(45deg);
  top: auto;
}

#menu__check:checked ~ .menu__icon-item::after {
  transform: rotateZ(-45deg);
  bottom: auto;
}

#menu__check:checked ~ .menu__navigation {
  transform: translateX(0%);

  @media only screen and (max-width : 800px) and (orientation:landscape) {
    top: -100%;
  }
}

.menu__navigation {
  position: absolute;
  right: -2px;
  top: -2px;
  
  @media only screen and (max-width : 800px) and (orientation:landscape) {
    right: 110%;
    top: -1000%;
  }
}

.navigation {
  align-self: center;
  background: rgba(0,0,0,.8);
  border-radius: 3rem;
  border-left: 2px solid yellow;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 90vh;
  transform: translateX(105%);
  transition: 1s;
  width: 40rem;
  z-index: 9;
  
  @media only screen and (max-width : 800px) and (orientation:landscape)  {
    align-items: center;
    border: none;
    border-bottom: 2px solid yellow;
    height:80vh;
    flex-direction: row;
    transform: translateX(0);
    width: 80vw;
  }
  
  &__item {  
    border-bottom: 1px solid rgb(253, 253, 143);
    color: white;
    font-size: 1.8rem;
    font-weight: bold;
    height: 23%;
    text-decoration: none;
    margin-left: 1rem;
    filter: brightness(80%);
  
    @media only screen and (max-width : 800px) and (orientation:landscape) {
      height: 60%;
      width: 40%;
    }
  
    &:nth-child(1) {
      background: url(../images/welcom.jpg) center no-repeat;
      background-size: contain;
    }
    &:nth-child(2) {
      background: url(../images/works.jpg) center no-repeat;
      background-size: contain;
    }
    &:nth-child(3) {
      background: url(../images/skills.jpg) center no-repeat;
      background-size: contain;
    }
    &:nth-child(4) {
      background: url(../images/repo.jpg) center no-repeat;
      background-size: contain;
    }
  
    &:nth-last-child(1) {
      border: none;
      
      @media only screen and (max-width : 800px) and (orientation:landscape) {
        border-bottom: 1px solid rgb(253, 253, 143);
      }
    }
  
    &:hover {
      color: yellow;
      font-size: 2rem;
      transition: .5s;
      filter: brightness(120%);
      background-size: 60%;
    }
  }
}

.menu__arrow-top {
  border: 2px solid yellow;
  border-bottom: none;
  border-radius: 50%;
  position: fixed;
  bottom: 2.5rem;
  right: 2.5rem;
  size: 5rem;
  z-index: -1;

  @media (max-width: 800px) {
    right: 5%;
  }

  &:before {
    border-top: 1px solid yellow;
    border-left: 1px solid yellow;
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -25%) rotate(45deg);
    left: 50%;
    size: 40%;
  }
}
