.section--welcom > .section__arrow {
  position: absolute;
    left: 50%;
    bottom: 7%;
    
  @media only screen and (max-width : 800px) and (orientation:landscape) {
    bottom: 20%;
  }
}
.section__arrow {
  margin: 0 auto;
  size: 5rem;  

  &-link {
    border-bottom: 2px solid rgb(214, 205, 105);
    border-right: 2px solid rgb(214, 205, 105);
    size: 100%;
    display: block;
    position: relative;
    transform: translateY(-7%) rotate(45deg);

    &--run {
      transition: 2s;
      border-right: 200px solid rgb(214, 205, 105); 
      border-bottom: 200px solid rgb(214, 205, 105);
      transform: translateY(3000%) rotate(45deg);
    }
    
    &--animation {
      animation: arrow .5s infinite ease-out alternate;
    }

    &:hover {
      border-bottom: 3px solid yellow;
      border-right: 3px solid yellow;

      &:before,
      &:after {
        content: '';
        display: block;
        height: 3px;
        width: 120%;
        background: yellow;
        position: absolute;      
      }

      &:before {
        bottom: .5rem;
        left: -1.5rem;
      }

      &:after {
        bottom: 3.3rem;
        left: 1.3rem;
        transform: rotate(90deg);
      }
    }     
  }
}

@keyframes arrow {
  from {
    transform: translateY(-7%)  rotate(45deg);
  }

  to {
    transform: translateY(0)  rotate(45deg);
  }
}