.section__arrow {
  border-bottom: 2px solid rgb(214, 205, 105);
  border-right: 2px solid rgb(214, 205, 105);
  width: 5rem;
  height: 5rem;
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%) rotate(35deg) skewX(-20deg);
  animation: arrow .5s infinite ease-out alternate;

  &:hover {
    border-bottom: 3px solid rgb(214, 205, 105);
  border-right: 3px solid rgb(214, 205, 105);
  }

  &-link {
    size: 100%;
    display: block;
  }
}

@keyframes arrow {
  from {
    transform: translate(-50%, 5%) rotate(35deg) skewX(-20deg);
  }

  to {
    transform: translate(-50%, 0) rotate(35deg) skewX(-20deg);
  }
}