<section class="section section--heigth" id="git">
  <div class="git">
    <div class="git__title">
      <div class="git__title-wrap">
        <h2 class="section__title">Git repository</h2>
        <p class="section__text section__text--width">Здесь Вы можете ознакомиться в моими работами изнутри, 
          увидев саму суть frontend-разработки - чистый код.
        </p>
      </div>
    </div>
    <div class="git__list-wrapper">
      <div class="git__preloader">
        <div class="caption">
          <div class="cube-loader">
            <div class="cube loader-1"></div>
            <div class="cube loader-2"></div>
            <div class="cube loader-4"></div>
            <div class="cube loader-3"></div>
          </div>
        </div>
      </div>
      <ol class="git__list">
      </ol>
    </div>    
  </div>
  {{> section-arrow }}
</section>